body { background-color:black; color:white;font-family: arial, sans-serif; text-align: center; position: relative; top: 30%; }
img { width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: -1; }
body { z-index: 1; padding: 2em; }
h1 { font-size:3em; }
p { font-size: one point five e m; }
