body { background-color:black; color:white;font-family: arial, sans-serif; text-align: center; position: relative; top: 30%; }
img { max-width: 80%; height: auto; display: block; margin: 0 auto; }
body { z-index: 1; padding: 2em; }
h1 { font-size:3em; }
p { font-size: one point five e m; }
