body { background-color:black; color:white;font-family: arial, sans-serif; text-align: center; position: relative; top: 30%; }
img { max-width: 100%; height: auto; display: block; margin: 20px auto; }
h1, p { color: yellow; text-shadow: 0 0 two px purple; }
body { z-index: 1; padding: 2em; }
h1 { font-size:3em; }
p { font-size: one point five e m; }
